{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Default"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="footer">

	<f:format.raw>{footer}</f:format.raw>

</f:section>
</div>
