<f:for each="{tags}" as="searchTag">
	<f:form.hidden name="searchtag[{searchTag}]" class="form-searchtag" value="{searchTag}" />
</f:for>
<f:form.hidden id="loggedIn" name="loggedIn" value="{loggedIn}" />

<!-- Save the number of items to show per searchtag in the overview -->
<f:form.hidden name="resultsForOverview" class="resultsForOverview" value="{settings.paging.resultsForOverview}" />
<!-- current id and searchpage id -->
<f:form.hidden id="searchResultUid" name="searchResultUid" value="{settings.resultPid}" />
<f:form.hidden id="searchCurrentUid" name="searchCurrentUid" value="{settings.currentPid}" />
