{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="head">
	<link href="{googleFontLink}" rel="stylesheet" type="text/css">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">

	<v:render.template file="{faviconsMetaTags}"/>

	<script>
		// touchSupport
		touchSupport = (('ontouchstart' in window) || (navigator.MaxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0));
		if (!touchSupport) {
			document.documentElement.className += " no-touch";
		}
		else{
			document.documentElement.className += " touch";
		}
		// IE version
		var uA = window.navigator.userAgent;
		var msie = uA.indexOf('MSIE ');
		var trident = uA.indexOf('Trident/');
		var ie;
		function detectIE() {
			if (msie > 0) {
				// IE 10 or older => return version number
				ie = 'ie' + parseInt(uA.substring(msie + 5, uA.indexOf('.', msie)), 10);
				return ie;
			}
			if (trident > 0) {
				// IE 11 (or newer) => return version number
				var rv = uA.indexOf('rv:');
				ie = 'ie' + parseInt(uA.substring(rv + 3, uA.indexOf('.', rv)), 10);
				return ie;
			}
		return ie = 'nonIE';
		}
		detectIE();
		if (ie === 'nonIE') {
			document.documentElement.className += (' ' + ie);
		} else{
			document.documentElement.className += (' ' + (ie + ' ' + 'IE'));
		}
	</script>
	<f:if condition="{smallSite}=='0'">
		<link rel="stylesheet" type="text/css" href="{projectFolder}/main.css">
	</f:if>
</f:section>
</div>
