{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Default"/>

<v:page.header>
	<f:render section="head" partial="head" arguments="{_all}" />
</v:page.header>
<f:render section="Content"/>
<v:page.footer>
	<f:render section="scripts" partial="scripts" arguments="{_all}" />
</v:page.footer>
