{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->


<!--
	Added this section so we can add templateLayouts in  ext_tables.php.
	If no templateLayout is selected, it renders section Default, which is the original template content.
-->
<f:section name="content">
<f:comment>
<f:debug>{_all}</f:debug>
	<n:format.nothing>
		<f:if condition="{newsItem.alternativeTitle}">
			<f:then>
				<n:titleTag>
					<n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
				</n:titleTag>
			</f:then>
			<f:else>
				<n:titleTag>
					<n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
				</n:titleTag>
			</f:else>
		</f:if>
	</n:format.nothing>
</f:comment>
	<f:if condition="{settings.templateLayout}">
		<f:then>
			<f:render partial="{settings.templateLayout}" arguments="{news: news,settings:settings}" />
		</f:then>
		<f:else>
			<f:render section="Default" arguments="{news: news, settings:settings}" />
		</f:else>
	</f:if>
</f:section>

<!--
	Original section content from news extension. Just changed name to Default.
	Moved it to Default section so we can use "settings.templateLayout" in news flexform for plugin.
-->
<f:section name="Default">
	<f:if condition="{news}">
		<f:then>
			<div class="news-list-view">
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:for each="{news}" as="newsItem" iteration="iterator">
							<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
</f:section>
