{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="breadcrumb">

<div class="breadcrumb-wrapper">
	<div class="container">
		<v:page.breadCrumb doktypes="1">
			<ol class="breadcrumb">
				<f:for each="{breadcrumb}" as="item">
					<f:if condition="{item.is_siteroot}">
						<f:then>
							<li>
								<span class="icons icon-t3-home"></span>
								<f:link.page pageUid="{item.uid}" title="{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}">{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:link.page>
							</li>
						</f:then>
						<f:else>
							<f:if condition="{item.current}">
								<f:then>
									<li>{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</li>
								</f:then>
								<f:else>
									<li>
										<f:link.page pageUid="{item.uid}" title="{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}">{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:link.page>
									</li>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:for>
			</ol>
		</v:page.breadCrumb >
	</div>
</div>

</f:section>
</div>
