{namespace n=GeorgRinger\News\ViewHelpers}
<h3>Custom List 1</h3>
<f:if condition="{news}">
	<f:then>
		<div class="news-list-view">
			<f:if condition="{settings.hidePagination}">
				<f:then>
					<f:for each="{news}" as="newsItem" iteration="iterator">
						<f:render partial="List/List-1-Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
					</f:for>
				</f:then>
				<f:else>
					<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
						<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
							<f:render partial="List/List-1-Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</n:widget.paginate>
				</f:else>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<div class="no-news-found">
			<f:translate key="list_nonewsfound" />
		</div>
	</f:else>
</f:if>
