{namespace n=GeorgRinger\News\ViewHelpers}
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>

<div class="news-media">
	<f:if condition="{newsItem.falMedia}">
		<!-- fal media preview element -->
		<f:then>
			<div class="news-img-wrap">
				<f:if condition="{newsItem.falMediaPreviews}">
					<f:then>
						<n:link newsItem="{newsItem}" settings="{settings}">
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 4">
									<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
								</f:if>
							</f:alias>
						</n:link>
					</f:then>
					<f:else>
						<f:if condition="{settings.displayDummyIfNoMedia}">
							<span class="no-media-element">
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
								</n:link>
							</span>
						</f:if>
					</f:else>
				</f:if>

			</div>
		</f:then>
		<f:else>

			<f:if condition="{newsItem.media}">
				<!-- media preview element -->
				<f:then>
					<div class="news-img-wrap">
						<f:if condition="{newsItem.mediaPreviews}">
							<f:then>
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
										<f:if condition="{mediaElement.type} == 0">
											<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
										</f:if>
										<f:if condition="{mediaElement.type} == 1">
											<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
										</f:if>
										<f:if condition="{mediaElement.type} == 2">
											<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
										</f:if>
									</f:alias>
								</n:link>
							</f:then>
							<f:else>
								<f:if condition="{settings.displayDummyIfNoMedia}">
									<span class="no-media-element">
										<n:link newsItem="{newsItem}" settings="{settings}">
											<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
										</n:link>
									</span>
								</f:if>
							</f:else>
						</f:if>

					</div>
				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<f:then>
							<div class="news-img-wrap">
								<n:link newsItem="{newsItem}" settings="{settings}">
									<span class="no-media-element">
										<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
									</span>
								</n:link>
							</div>
						</f:then>
					</f:if>
				</f:else>
			</f:if>

		</f:else>
	</f:if>
</div>


<div class="news-data-wrapper">
	<!-- date -->
    <time class="news-list-date" datetime="{f:format.date(format : 'Y-m-d\TH:i', date: newsItem.datetime)}" title="{f:format.date(format : 'H:i', date: newsItem.datetime)}">
    	<span><f:format.date format="d">{newsItem.datetime}</f:format.date></span>
    	<strong><f:format.date format="%h">{newsItem.datetime}</f:format.date></strong>
    </time>
	<!-- header -->
	<div class="header">
		<h3>
			<n:link newsItem="{newsItem}" settings="{settings}">
				{newsItem.title -> f:format.crop(maxCharacters: 20, respectWordBoundaries: 0)}
			</n:link>
		</h3>
	</div>

	<!-- teas=ser text -->
	<div class="teaser-text">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
			</f:then>
			<f:else>
				{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
			</f:else>
		</f:if>

		<n:link newsItem="{newsItem}" settings="{settings}" class="more">
			<f:translate key="more-link"/>
		</n:link>
	</div>
</div>

</div>
