{namespace v=Tx_Vhs_ViewHelpers}
{namespace n=GeorgRinger\News\ViewHelpers}
<v:var.set name="item_id" value="{v:random.string(length: 8)}" />
<f:if condition="{news}">
	<f:then>
		<div id="{item_id}" class="carousel slide vertical news-carousel">
			<div class="carousel-inner">
				<div class="item active">
				<f:for each="{news}" as="newsItem" iteration="iterator">
					<f:if condition="{iterator.isOdd}">
						<f:if condition="{iterator.isFirst} != 1">
							</div>
							<div class="item">
						</f:if>
					</f:if>
					<f:render partial="List/newsCarouselItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
				</f:for>
				</div>
			</div>
			<a class="carousel-control left" href="#{item_id}" data-slide="prev"><span class="icons icon-t3-newsCarousel-arrow-up"></span></a>
			<a class="carousel-control right" href="#{item_id}" data-slide="next"><span class="icons icon-t3-newsCarousel-arrow-down"></span></a>
		</div>
		<f:link.page class="newsCarousel-all-link" pageUid="{settings.showAllPid}"><f:translate key="LLL:EXT:t3layout_ricky/Resources/Private/Language/locallang.xlf:news.show_all" /></f:link.page>
	</f:then>
	<f:else>
		<div class="no-news-found">
			<f:translate key="list_nonewsfound" />
		</div>
	</f:else>
</f:if>
