<f:form actionUri="{formUrl}" class="search {settings.quicksearch.form.class} {f:if(condition: settings.suggestResults.enable, then : ' pxasolr_typeahead_form', else: '')}">
	<span class="icons icon-t3-search"></span>
	<div class="form-group">
		<f:render partial="Quicksearch/Inputs" arguments="{settings: settings, results: searchResults, searchTag: searchTag, searchWord: searchWord}" />
	</div>
	<f:render partial="Quicksearch/Hidden" arguments="{settings: settings, results: searchResults, searchTag: searchTag, searchWord: searchWord}" />
</f:form>

<script type="text/javascript">
var suggest_url = '{suggestUrl}';
suggest_url = suggest_url.replace(/\&amp;/g,'&');
</script>
