<noscript>
	<div class="javascriptrequired">
		<h1><f:translate key="javascriptRequired" /></h1>
	</div>
</noscript>

<div class="tx_mocsearch_pi1" style="display: none;">
	<!-- Search form -->
	<f:if condition="{0:settings.outputWhat} == {0:'searchbox'}">
	<div class="search-form">
		<f:if condition="{0:settings.currentPid} == {0:settings.resultPid}">
		<f:then>
			<f:form actionUri="{formJsonUrl}" class="search-result-form {settings.searchbox.form.class}">
				<f:form.textfield size="{settings.searchbox.input.size}" name="sword" value="{sword}" class="search-result-input-sword {settings.searchbox.input.class} {f:if(condition: settings.suggestResults.enable, then : ' pxasolr_typeahead', else: '')}" />
				<f:form.submit value="{f:translate(key:'search')}" class="search-result-submit-button btn btn-default" />

				<f:for each="{tags}" as="searchTag">
					<f:form.hidden name="searchtag[{searchTag}]" class="form-searchtag" value="{searchTag}" />
				</f:for>
				<f:form.hidden id="loggedIn" name="loggedIn" value="{loggedIn}" />

				<!-- Save the number of items to show per searchtag in the overview -->
				<f:form.hidden name="resultsForOverview" class="resultsForOverview" value="{settings.paging.resultsForOverview}" />
				<!-- current id and searchpage id -->
				<f:form.hidden id="searchResultUid" name="searchResultUid" value="{settings.resultPid}" />
				<f:form.hidden id="searchCurrentUid" name="searchCurrentUid" value="{settings.currentPid}" />
			</f:form>
		</f:then>
		<f:else>
			<f:form actionUri="{formUrl}" class="search-result-form {settings.searchbox.form.class}">
				<f:form.textfield size="{settings.searchbox.input.size}" name="sword" value="{sword}" class="search-result-input-sword {settings.searchbox.input.class} {f:if(condition: settings.suggestResults.enable, then : ' pxasolr_typeahead', else: '')}" />
				<f:form.submit value="{f:translate(key:'search')}" class="search-result-submit-button {settings.searchbox.submit.class}" />

				<f:for each="{tags}" as="searchTag">
					<f:form.hidden name="searchtag[{searchTag}]" class="form-searchtag" value="{searchTag}" />
				</f:for>
				<f:form.hidden id="loggedIn" name="loggedIn" value="{loggedIn}" />

				<!-- Save the number of items to show per searchtag in the overview -->
				<f:form.hidden name="resultsForOverview" class="resultsForOverview" value="{settings.paging.resultsForOverview}" />
				<!-- current id and searchpage id -->
				<f:form.hidden id="searchResultUid" name="searchResultUid" value="{settings.resultPid}" />
				<f:form.hidden id="searchCurrentUid" name="searchCurrentUid" value="{settings.currentPid}" />
			</f:form>
		</f:else>
		</f:if>
		<f:if condition="{settings.suggestResults.enable}">
		  <div id="suggestResult"></div>
		</f:if>
		</div>

		<script type="text/javascript">
			var suggest_url = '{suggestUrl}';
			suggest_url = suggest_url.replace(/\&amp;/g,'&');
			var remember_history = '{f:CObject(typoscriptObjectPath: "plugin.tx_pxasolr.settings.elements.rememberHistory")}';
			var postsearch_value = '{postsearchValue}';
			var suggestResult = '{settings.suggestResults.enable}';
			var searchingSuggestResult = '<f:translate key="searching">Searching</f:translate>';
			var search_empty = '<div class="empty-results">{f:translate(key:'empty')}</div>';
			var search_empty_message = '{f:translate(key:'empty')}';
			var suggest_result_url = '{formUrl}<f:uri.page />';
		</script>
	</f:if>

		<!-- SearchTag navigation menu -->
	<f:if condition="{0:settings.outputWhat} == {0:'searchresult'}">
	<div class="search-result-container {settings.searchresult.container.class}">
	<div class="searchtag-menu init">
		<ul class="{settings.searchresult.searchtagmenu.class}">
			<li id="searchtag-menu-item-all" class="nav-link active">
				<a href="" class="viewsearchtag-overview"><f:translate key="all" /> {settings.searchresult.searchtagmenu.item.count.prefix}<span class="searchtag-no-results {settings.searchresult.searchtagmenu.item.count.class}"></span>{settings.searchresult.searchtagmenu.item.count.suffix}</a>
			</li>
			<f:for each="{tags}" as="searchTag">
				<li id="searchtag-menu-item-{searchTag}" class="nav-link">
					<a class="viewsearchtag-{searchTag}" href=""><f:translate key="{searchTag}" /> {settings.searchresult.searchtagmenu.item.count.prefix}<span class="searchtag-no-results {settings.searchresult.searchtagmenu.item.count.class}"><f:CObject typoscriptObjectPath="plugin.tx_pxasolr.settings.elements.loader" /></span>{settings.searchresult.searchtagmenu.item.count.suffix}</a>
				</li>
			</f:for>
		</ul>
	</div>

		<!-- Overview of all searchtags -->
		<div class="search-overview">
		<ul>
		<f:for each="{tags}" as="searchTag">
			<li id="searchoverview-{searchTag}" class="searchoverview-li">
				<h2><f:translate key="{searchTag}" /></h2>
				<ul>
					<li class="seemore"><a class="seemore-{searchTag}" href=""><f:translate key="seeMore" /></a></li>
				</ul>
			</li>
		</f:for>
		</ul>
		</div>

		<!-- Search Results -->
		<div class="search-result">
			<ul>
			<f:for each="{tags}" as="searchTag">
				<li id="searchtag-result-{searchTag}" class="searchtag-result">
				<h2><f:translate key="{searchTag}" /></h2>
				<ul class="search-results">
					<li class="pagination">
						<div class="info {settings.searchresult.info.class}">
							<f:translate key="resultsA" /><span class="from"></span> - <span class="to"></span> <f:translate key="resultsB" /> <span class="total"></span> <f:translate key="resultsC" />
						</div>
						<ul class="pages {settings.searchresult.pagination.class}"></ul>
					</li>
				</ul>
				</li>
			</f:for>
			</ul>
		</div>

		<script type="text/javascript">
			var search_preloader = '{f:CObject(typoscriptObjectPath: "plugin.tx_pxasolr.settings.elements.loader")}';
			var search_prev = '<i class="icons icon-t3-search-pagination-left"></i>';
			var search_next = '<i class="icons icon-t3-search-pagination-right"></i>';
			var search_spellchecker = '<span class="search_spellchecker">{f:translate(key:'search_spellchecker')}</span>';
		</script>
		</div>
	</f:if>

</div>
