{namespace n=GeorgRinger\News\ViewHelpers}

<f:if condition="{settings.detail.facebook.enableComments} == 1">
	<f:if condition="{settings.detail.facebook.appId}">
		<n:metaTag property="fb:app_id" content="{settings.detail.facebook.appId}" />
		<f:if condition="{settings.detail.facebook.admin}">
			<f:then><n:metaTag property="fb:admins" content="{settings.detail.facebook.admin}" /></f:then>
		</f:if>
		<div class="fbcomments">
			<n:social.facebook.comment appId="{settings.detail.facebook.appId}" xid="news_{newsItem.uid}"></n:social.facebook.comment>
		</div>
	</f:if>
</f:if>
