{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="Default"/>

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Content">

	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<header class="pxa-header">
		<f:render section="header" partial="header/header" arguments="{_all}" />
	</header>
	<div class="pxa-top-content100-content100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!--TYPO3SEARCH_begin-->
					<v:content.render column="3"/>
					<!--TYPO3SEARCH_end-->
				</div>
			</div>
		</div>
		<f:render section="breadcrumb" partial="breadcrumb/breadcrumb"/>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!--TYPO3SEARCH_begin-->
					<v:content.render column="0"/>
					<!--TYPO3SEARCH_end-->
				</div>
			</div>
		</div>
	</div>
	<footer class="pxa-footer">
		<f:render section="footer" partial="footer/footer" arguments="{_all}"/>
	</footer>
</f:section>
</div>
