{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="subnavigation">

<v:page.menu entryLevel="1" >
	<div class="pxa-sub-nav">
		<div class="list-group">
			<f:for each="{menu}" as="item">
				<f:link.page pageUid="{item.uid}" class="list-group-item {item.class}"  title="{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}">{f:if(condition: '{item.nav_title}', then: '{item.nav_title}', else: '{item.title}')}</f:link.page>
				<f:if condition="{item.active}">
					<f:if condition="{item.hasSubPages}">
						<v:page.menu pageUid="{item.uid}">
							<f:for each="{menu}" as="subItem">
								<f:link.page pageUid="{subItem.uid}" class="list-group-item subItem {subItem.class}" title="{f:if(condition: '{subItem.nav_title}', then: '{subItem.nav_title}', else: '{subItem.title}')}">{f:if(condition: '{subItem.nav_title}', then: '{subItem.nav_title}', else: '{subItem.title}')}</f:link.page>
									<f:if condition="{subItem.hasSubPages}">
										<v:page.menu pageUid="{subItem.uid}">
											<f:for each="{menu}" as="subSubItem">
												<f:link.page pageUid="{subSubItem.uid}" class="list-group-item subSubItem {subSubItem.class}" title="{f:if(condition: '{subSubItem.nav_title}', then: '{subSubItem.nav_title}', else: '{subSubItem.title}')}">{f:if(condition: '{subSubItem.nav_title}', then: '{subSubItem.nav_title}', else: '{subSubItem.title}')}</f:link.page>
													<f:if condition="{subSubItem.hasSubPages}">
														<v:page.menu pageUid="{subSubItem.uid}">
															<f:for each="{menu}" as="subSubSubItem">
																<f:link.page pageUid="{subSubSubItem.uid}" class="list-group-item subSubSubItem {subSubSubItem.class}" title="{f:if(condition: '{subSubSubItem.nav_title}', then: '{subSubSubItem.nav_title}', else: '{subSubSubItem.title}')}">{f:if(condition: '{subSubSubItem.nav_title}', then: '{subSubSubItem.nav_title}', else: '{subSubSubItem.title}')}</f:link.page>
															</f:for>
														</v:page.menu>
													</f:if>
											</f:for>
										</v:page.menu>
									</f:if>

							</f:for>
						</v:page.menu>
					</f:if>
				</f:if>
			</f:for>
		</div>
	</div>
</v:page.menu>

</f:section>
</div>














